@-moz-document domain("codewars.com") {
  @font-face {
    font-family: "Fira Code";
    src: url("https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Regular.eot")
        format("embedded-opentype"),
      url("https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Regular.woff2")
        format("woff2"),
      url("https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Regular.woff")
        format("woff"),
      url("https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  .CodeMirror pre {
    font-size: 17px;
    line-height: 1.5;
    font-family: "Fira Code";
  }
}
